body {
      font-family: 'Times New Roman', Times, serif;
      background-color: rgb(190, 209, 209);
      display: flex;
      justify-content: center; 
      padding: 50px;
    }

    .membro {
      background-color: rgb(171, 220, 220);
      border-radius: 8px;
      padding: 20px;
      width: 350px;
      box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
      text-align: center;
    }

    .membro img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
    }

    .membro h2 {
      font-size: 18px;
      margin: 5px 0;
      color: rgb(0, 0, 0);
    }

    .membro h3 {
      font-size: 14px;
      margin: 5px 0;
      color: rgb(0, 0, 0);
    }

    .membro p {
      font-size: 12px;
      color:rgb(0, 0, 0)
    }