.portifolio-grid {
      display: grid;  
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      border-radius:20px ;
    
    }

    .port_objeto {
      background-color: white;
      padding: 10px;
      border: 1px solid #ccc;
    }