 body {

      font-family: Arial, sans-serif;
      padding: 20px;}
      


       h1 {
      text-align: center;
      color: rgb(0, 0, 0);
    }

    ul  { 

        list-style:initial inside;
        max-width: 500px;
        margin: 20px auto;

    }

    li {
      margin-bottom: 15px;
      padding: 10px;
      border-radius: 5px;



    } 