body {
      font-family: Arial, sans-serif;
      background-color: #e10909;
      padding: 20px;
    }

    h1 {
      text-align: center;
      color: rgb(15, 25, 25);
    }

    ul {
      list-style: none; 
      
    }

    li {
      background-color: azure;
      margin-bottom: 10px;
      padding: 8px;
      border-radius: 5px;
      box-shadow: 1px 1px 5px 
    }

   
    ul ul li {
      text-indent: 20px; 
    }

    ul ul ul li {
      text-indent: 40px; 
    }