body {

            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            font-style: italic;
            background-color: aliceblue;
            justify-content: center;
            padding: 25px;
        }


        .produto {
            background-color: azure;
            display: contents;
            padding: 80px;
            font-size: large;
            border-radius: 15px;
            box-shadow: 2px 2px 8px;
            max-width: 300px;
            text-align: center;
        }

        .preco {

            color: chartreuse;
            margin-bottom: 10px;



        }



        button {

            padding: 10px;
            background-color: goldenrod;
            font-size: medium;
            border-radius: 15px;
            box-sizing: content-box;




        }