h1{
 
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blue;
}

p {


font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: medium;
text-align: center;

}