body {
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      background-color:azure;
      text-align: center;
    }

    h1 {
      color: rgb(6, 7, 7);
      margin-bottom: 10px;
    }

    .produto {
      background-color: bisque;
      padding: 15px;
      margin-bottom: 15px;
      border-radius: 8px;
      display: inline-block;
      width: 400px;
      box-shadow: 2px 2px 8px;
    }

    .produto img {
      width: 200px;
      height: 200px;
      border-radius: 5px;
    }

    .produto h2 {
      font-size: 18px;
      margin: 10px 0 5px 0;
      color: rgb(0, 0, 0);
    }

    .produto p {
      font-size: 14px;
      color:black;
      margin: 5px 0;
    }

    del {
      color: red; 
      margin-right: 5px;
    }

    .desconto {
      font-weight: bold;
      color: green;
    }